<p id="notice"><%= notice %></p>

<p>
  <strong>Brandon lederhouse:</strong>
  <%= @user.Brandon Lederhouse %>
</p>

<p>
  <strong>Lederhou@grinnell.edu:</strong>
  <%= @user.lederhou@grinnell.edu %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
